<div class="row">
    <div class="col">
        <h5 class="title-HU">Descripción de la HU</h5>
        <div class="input-group input-group-sm mb-3">
          <textarea class="form-control" id="floatingTextarea" [(ngModel)]="description"></textarea>
        </div>
        <button type="button" class="btn btn-secondary" style="float:right;" (click)="add()">Agregar</button>
    </div>
</div>
<div class="row" *ngFor="let item of HU; index as i">
    <div class="col">
        <h5>Historia de usuario {{i}}</h5>
        <p> {{item}} </p>
    </div>
    <div class="col">
        <button type="button" class="btn btn-danger" style="float:right;" (click)="delete(i)">Eliminar</button>
    </div>
</div>
