<div class="row">
    <div class="col">
        <h5 class="title-Prog">Perfil del programador</h5>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Nombre completo: </span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="programmer.name">
        </div>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Años de experiencia: </span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="programmer.yearsExperience">
        </div>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Habilidades: </span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="programmer.skills">
        </div>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Lenguajes de programación: </span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="programmer.programmingLanguages">
        </div>
        <button type="button" class="btn btn-secondary" style="float:right;" (click)="addProgrammer()">Agregar</button>
    </div>
</div>
<div class="row" *ngFor="let item of programmers; index as i">
    <div class="col">
        <h5>Perfil programador {{i}}</h5>
        <p> Nombre: {{item.name}} </p>
        <p> Años de experiencia: {{item.yearsExperience}} </p>
        <p> Habilidades: {{item.skills}} </p>
        <p> Lenguajes de programación: {{item.programmingLanguages}} </p>
    </div>
    <div class="col">
        <button type="button" class="btn btn-danger" style="float:right;" (click)="delete(i)">Eliminar</button>
    </div>
</div>