<header>
  <h2 class="text-bg-dark header-style"><i class="bi bi-laptop"></i> OpenIA para relacionar HU con programadores de acuerdo a su perfil <i class="bi bi-person-fill"></i></h2>
</header>
<div class="container">
  <div class="row">
    <div class="col container-HU">
      <h3 class="title-HU text-center">Historias de usuario</h3>
      <app-component-hu #HUS></app-component-hu>
    </div>
    <div class="col container-Prog">
      <h3 class="title-Prog text-center">Programadores</h3>
      <app-component-programmers #ProgrammerProfiles></app-component-programmers>
    </div>
    <button type="button" class="btn btn-success" (click)="calculateResponse(HUS.HU, ProgrammerProfiles.programmers)">Relacionar HU con los programadores</button>
  </div>
  <div *ngIf="resultado" class="row">
    <h3 style="margin-top: 2%;">Resultado </h3>
    <ul class="list-group list-group-flush" style="margin-bottom: 2%;">
      <li class="list-group-item" *ngFor="let item of dataResponseOpenIA; index as i">
        <p><strong>Programador: </strong> {{item.programador}} </p>
        <p><strong>Historia: </strong> {{item.historia_usuario}}</p>
      </li>
    </ul>
  </div>
</div>
