<header>
  <h2 class="text-bg-dark header-style"><i class="bi bi-laptop"></i> OpenIA para relacionar HU con programadores de acuerdo a su perfil <i class="bi bi-person-fill"></i></h2>
</header>
<div class="container">
  <div class="row">
    <div class="col container-HU">
      <h3 class="title-HU text-center">Historias de usuario</h3>
      <div>
        <h5 class="title-HU">Descripción de la HU</h5>
        <div class="input-group input-group-sm mb-3">
          <textarea class="form-control" id="floatingTextarea"></textarea>
        </div>
        <div class="row">
          <div class="col-9">
            <p class="lead">Si desea agregar otra historia de usuario <i class="bi bi-arrow-right-circle"></i></p>
          </div>
          <div class="col" style="float:left;">
            <button type="button" class="btn btn-secondary">Clic aquí</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col container-Prog">
      <h3 class="title-Prog text-center">Programadores</h3>
      <div>
        <h5 class="title-Prog">Perfil del programador</h5>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Nombre completo: </span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Años de experiencia: </span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Habilidades: </span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Lenguajes de programación: </span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="row">
          <div class="col-8">
            <p class="lead">Si desea agregar otro programador <i class="bi bi-arrow-right-circle"></i></p>
          </div>
          <div class="col" style="float:left;">
            <button type="button" class="btn btn-secondary">Clic aquí</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
