<div class="container-fluid container-header bg-dark">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-9">
        <header>
          <h3 class="header-style"> Relacionar HU con programadores de acuerdo a su perfil</h3>
        </header>
      </div>
      <div class="col-3 d-flex justify-content-end my-2">
        <button type="button" class="btn btn-outline-warning" style="height: 70px;" (click)="calculateResponse(HUS.HU, ProgrammerProfiles.programmers)"> <b style="font-size:large;">Relacionar</b></button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-6 container-HU border-end">
        <app-component-hu #HUS [HU]="HUList"></app-component-hu>
      </div>
      <div class="col-6 container-Prog">
        <app-component-programmers #ProgrammerProfiles [programmers]="programmerList"></app-component-programmers>
      </div>
    </div>
    <div *ngIf="resultado" class="row">
      <h3 style="margin-top: 2%;">Resultado </h3>
      <ul class="list-group list-group-flush" style="margin-bottom: 2%;">
        <li class="list-group-item" *ngFor="let item of dataResponseOpenIA; index as i">
          <p><strong>Programador: </strong> {{item.programador}} </p>
          <p><strong>Historia: </strong> {{item.historia_usuario}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
