.container-HU {
    padding: 1%;
}
.container-Prog {
    /* background-color:#9eeaf9; */
    padding: 1%;
}
.header-style {
    margin: 1%;
    text-align: -webkit-center;
}
.container-header {
    color: white;
}